h1 {
	text-align: center;
	color: blue;
	font-family: sans-serif;
	padding-top: 10px;
	box-shadow: none;
}

body {
		background-image: url("");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		background-size: 1300px;

	}

#searchboxx {
	width: 500px;
	height: 50px;
	margin: 0px 0px 3px 350px;
	border: 0;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-right-style: none;
    border-right-width: 0px;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
	padding: 0 10px 0 0;
    padding-right: 50px;
	max-height: 50px;
	outline: none;
	-webkit-appearance: none;
	border-right: 1px solid;
	border-color: #ccc;
    border-right-color: rgb(204, 204, 204);
	box-sizing: content-box;
	position: relative;
	font-size: 16px;
	box-shadow: 3px 3px 3px grey

}

#jasearch {
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: arial,sans-serif;
    font-weight: bold;

}

#jasearch:hover {
    background-color: rgb(244, 81, 30);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
}

#Oshaprapra {
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: arial,sans-serif;
    font-weight: bold;

}

#Oshaprapra:hover {
    background-color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
}

.coa {
	width: 310px;
	height: 200px;
	margin: 0px 0px 150px 350px

}

.lang {
	text-align: center;
	padding-right: 40px;
	font-family: sans-serif;
	color: black;
	font-weight: inherit;

}

.catbtn {	
	
  
}